body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  box-sizing: border-box;
  margin: 0; /* Elimina márgenes predeterminados */
  padding: 0; /* Elimina padding predeterminado */
}

